html, head, body {
    margin: 0;
    padding: 0;
}

head, body {
    width: 100%;
    box-sizing: border-box;
    background-color: #bfc2a9;
}

.container {
    margin: 0px auto 50px;
}

.inputContainer {
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    padding: 20px 12px;
    background: #bfc2a9;
    text-align: center;
    z-index: 3;
}

/* .inputField {
    
} */
.div {
    display: inline-block;
}

.div label, .div input {
    display: block;
}

.categorySelect {
    padding: 2px 5px;
    background: #fff;
    color: #74795a;
}   

.categorySelect option {
    max-height: 10px;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    .inputContainer {
        padding: 25px auto;
    }
    button#searchImages {
        display: block;
        width: 70px;
        margin: 5px auto;
    }

} 

section.cards {
    margin-top: 100px;
}

.cardWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
    .cardWrapper {
        display: block;
    }
} 

.card {
    margin: 20px;
    border-radius: 6px;
}



.cardImage {
    height: 250px;
}

@media screen and (max-width: 600px) {
    .cardImage img {
        object-fit: cover;
        object-position: center;
    }
}

.cardImage img {
    width: 100%;
    height: 100%;
}

.cardText {
    background: #fff;
    padding: 8px 12px
}

@media screen and (max-width: 600px) {
    .card {
        margin: 10px;
    }
}
.howToBlurbText {
    display: none;
    margin: 0px auto;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .howToBlurbText {
        width: 70%;
        margin: 150px auto 0px;
    }
}

.noImagesIndicator {
    display: none;
    margin: 0px auto;
    width: 100%;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #bfc2a9;
    z-index: 3;
}
